<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <title>contact_login_error</title>
</head>

<body>
  <p>
    Selam,
    <br />
    <br />
    Bizimle iletişime geçtiğin için teşekkür ederiz! Umarız iyisindir. Güncel
    olarak böyle bir sorun gözükmemekte. Sorunu en kısa sürede saptayıp
    çözebilmemiz adına bize yaşadığın durumu ekran resmi olarak iletebilir
    misin? Böylece kısa sürede yardımcı olabiliriz. Aynı zamanda doğru
    Spotify/Apple Music/Youtube Music hesabına bağlı olduğuna emin misin?
    Eğer öyle olduğunu düşünüyorsan tarayıcıyla girmeyi de deneyebilir
    misin acaba? Uygulamayı silip tekrardan indirmek de fayda sağlayabilir.
    Ayrıca kullandığın cihaz Spotify/Apple Music/Youtube Music uygulamasını
    desteklemiyor olabilir bu sebeple sorun yaşıyor olabilirsin. Tarayıcı
    üzerinden giriş yapmayı deneyebilirsin. <br />
    <br />
    Eğer aldığın hata hesabın engellendi ise yeni gelen düzenlemeyle beraber
    daha önceden hesabı kalıcı olarak engellenmiş veya hesabına kalıcı 
    kısıtlama getirilmiş kullanıcıların uygulamaya erişimi süresiz olarak 
    engellenmiştir. Gelen şikayetler incelendiğinde hesap hareketlerinin 
    topluluk kurallarımıza uymadığı fark edilmiştir. Bu sebeple uygulamaya 
    erişim sağlayamazsın.    <br />
    <br />
    Sevgiler
  </p>
  <hr>
  <footer>
    <p>
      Umarız sorununa çözüm bulabilmişizdir. Kendine çok iyi bak!
      <br />
      <br />
      makromusic ekibi sana daha sağlıklı bir deneyim sunabilmek için 7/24 çalışıyor. Eğer bizi sosyal medya
      hesaplarımızdan takip edip destek olmak istersen çok mutlu oluruz;
      <br />
      <br />
      Instagram için <a href="https://www.instagram.com/makromusicapp/" target="_blank">buraya</a> tıklayabilirsin!
      <br />
      X (Twitter) için <a href="https://x.com/makromusicapp/" target="_blank">buraya</a> tıklayabilirsin!
      <br />
      Facebook için <a href="https://www.facebook.com/makromusicapp/" target="_blank">buraya</a> tıklayabilirsin!
      <br />
      TikTok için <a href="https://www.tiktok.com/@makromusic" target="_blank">buraya</a> tıklayabilirsin!
      <br />
      <br />
      makromusic Kullanıcı İlişkileri Ekibi 💙
    </p>
    <img src="https://makromusic.com/logo.png" alt="makromusic Logo" />
  </footer>
</body>



</html>